body {
  background: black;
  font-family: 'Raleway', sans-serif;
  color:white;
}

h1 {
  color: blue;
}
div {
  border: 1px solid black;
  padding: 20px;
  margin-left: 50px
  margin: auto;
  text-align: center;
}

#Table {
  text-align: center;
}
